<form [formGroup] = "msgform" (ngSubmit) = "sendData()">
  <div>
    <label for="message">Message</label>
    <input type="text" name="message" id="message" class="form-control" formControlName="message">
  </div>
  <div>
    <label for="user">User id</label>
    <input type="text" name="user" id="user" class="form-control" formControlName="user">
  </div>
  <!-- תרגיל 6 שם כפתור דינאמי-->
  <!--<input type="submit" value="{{submitButtonText}}" class="btn btn-primary">-->
  <input type="submit" value="Send the message" class="btn btn-primary">
</form>